<mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">MLP Activities Visualizer</h1>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" [fixedTopGap]="toolbarHeight">
        <form (ngSubmit)="snav.close(); visualize()" #vizForm="ngForm">
            <mat-form-field>
                <mat-select placeholder="File to visualize" name="selectFile" required [(ngModel)]="selectedFile" #selectFile="ngModel" [disabled]="isRunning">
                    <mat-option *ngFor="let file of files" [value]="file.value">
                        {{ file.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="selectFile.invalid">Please choose a file</mat-error>
            </mat-form-field>
            <div class="action">
                <button mat-button type="submit" color="primary" *ngIf="!isRunning" [disabled]="!vizForm.form.valid">Visualize</button>
                <button mat-button type="button" color="primary" *ngIf="isRunning" (click)="stopViz()">Stop Visualization</button>
            </div>
        </form>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-visualizer [vizOptions]="vizOptions"></app-visualizer>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <router-outlet></router-outlet> -->